.main {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: var(--zIndex100);

  .cart {
    display: flex;
    flex-direction: column;
    z-index: 500;

    .curtain {
      background: rgba(0, 0, 0, 0.7);
      display: flex;
      height: 100vh;
      width: 100vw;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1000;
      opacity: 0;
      animation: cartFadeIn ease-in-out 0.3s 1;
      animation-fill-mode: forwards;
    }

    .pane {
      animation: cartSlideIn ease-in-out 0.3s 1;
      animation-fill-mode: forwards;
      background: var(--black);
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      flex: 1;
      padding: 20px;
      position: fixed;
      top: 15px;
      right: 20px;
      transform: translateX(420px) translateZ(0);
      height: calc(100vh - 30px);
      width: 400px;
      z-index: 1200;

      .head {
        display: flex;
        justify-content: flex-end;

        a {
          color: var(--white);
        }
      }

      .bag {
        display: flex;
        flex: 1;

        .empty {
          display: flex;
          flex: 1;
          flex-direction: column;
          justify-content: center;
          gap: 10px;
          align-items: center;
          color: var(--white);
        }
      }
    }

    &.out :is(.curtain, .pane) {
      pointer-events: none;
    }
  }

  .subMenu {
    background-color: var(--white);
    color: var(--blue);
    display: flex;
    justify-content: flex-end;

    .icons {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      margin-right: 20px;

      li {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          padding: 5px;
        }
      }
    }
  }

  .content {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.8px);
    -webkit-backdrop-filter: blur(9.8px);
    border: 1px solid rgba(255, 255, 255, 0.12);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    height: 80px;

    .wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      align-items: center;
      width: var(--pageWidth);

      .menu {
        display: flex;
        align-items: center;
        gap: 25px;

        .logo {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .navigation {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0;
          margin-left: 30px;
          padding: 0;
          gap: 25px;

          .link {
            display: flex;

            a {
              color: var(--textColor);
              text-decoration: none;

              &:hover {
                text-decoration: underline;
                text-underline-offset: 6px;
              }
            }
          }
        }
      }

      .actions {
        display: flex;

        .items {
          display: flex;
          list-style: none;
          padding: 0;
          margin: 0;
          gap: 20px;

          li {
            .button {
              background: var(--purple);
              border: 1px var(--purple) solid;
              border-radius: 50px;
              padding: 6px 20px;
            }
          }
        }
      }
    }
  }
}

@keyframes cartSlideIn {
  from {
    transform: translateX(420px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes cartFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
