.banner {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;

  h1.title {
    color: #fff;
    display: flex;
    font-size: 3.5rem;
    font-weight: bold;
    margin: 40px 0;
  }

  .globe {
    display: flex;
    position: relative;
    height: 500px;
    width: 100%;
    margin: 40px 0;
  }
}
